@import '/styles/variables.scss';
@import '/styles/mixins.scss';

.tableWrapper {
  color: $color-primary;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  box-shadow: 0 5px 10px lightgray;
  text-align: left;
  border-collapse: collapse;
  thead {
    box-shadow: 0 5px 10px lightgray;
    z-index: 2;
    background-color: lightgrey;
    position: sticky;
    top: 0px;
    font-weight: $fw-bold;
    box-shadow: inset 0px -1px 0px #c9cfda;
  }

  tr {
    transition: 0.2s;
    font-weight: $fw-regular;
    box-shadow: inset 0px -1px 0px #dfe2e9;

    th {
      padding: 1rem 2rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-weight: $fw-bold;
      &:nth-child(1) {
        width: 5%;
        @include breakpoint(phone) {
          width: auto;
        }
      }
      &:nth-child(2) {
        width: 40%;
        @include breakpoint(phone) {
          width: auto;
        }
      }
    }

    td {
      padding: 1rem 2rem;
    }

    th,
    td {
      @include breakpoint(tablet) {
        padding: 5px 10px;
      }
      @include breakpoint(phone) {
        padding: 5px 5px;
      }
    }

    &:hover {
      background-color: lightgray;
      cursor: pointer;
    }
  }
  table-layout: fixed;

  @include breakpoint(phone) {
    table-layout: initial;
  }
}

.charName {
  display: flex;
  align-items: center;
  .imgBlock {
    @include breakpoint(phone) {
      display: none;
    }
  }
}

.buttonBlock {
  // transition: 0.4s;
  opacity: 0.8;
  z-index: 2;
  position: fixed;
  bottom: 0px;
  background-color: black;
  color: white;
  display: flex;
}

.buttonContainer {
  padding: 10px;
  :hover {
    cursor: pointer;
  }
}

.loadingBlock {
  transition: 1s;
}

.status {
  width: fit-content;
  border-radius: 4px;
  border: 1px solid;
  padding: 1px 12px;
  &Red {
    color: $color-red;
  }
  &Green {
    color: $color-green;
  }
  &Blue {
    color: blue;
  }
  &Yellow {
    color: $color-yellow;
  }
  &Pink {
    color: $color-pink;
  }
}
