$fw-light: 300;
$fw-regular: 400;
$fw-bold: 600;

// $fs-sm: 12px;
// $fs-md: 16px;
// $fs-lg: 24px;
// $fs-xl: 36px;
// SIZES

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

// COLORS
$color-primary: #454d59;
$color-yellow: #db8c28;
$color-red: #db303f;
$color-pink: #c2369f;
$color-green: #7fc008;
